http-session-service/web/WEB-INF/wsdl/localhost_7101/http-session-service/HttpSessionIQMServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" name="HttpSessionIQMServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" schemaLocation="http://localhost:7101/http-session-service/HttpSessionIQMServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="close">
<part name="parameters" element="tns:close"/>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"/>
</message>
<message name="getTransactionStatus">
<part name="parameters" element="tns:getTransactionStatus"/>
</message>
<message name="getTransactionStatusResponse">
<part name="parameters" element="tns:getTransactionStatusResponse"/>
</message>
<message name="beginTransaction">
<part name="parameters" element="tns:beginTransaction"/>
</message>
<message name="beginTransactionResponse">
<part name="parameters" element="tns:beginTransactionResponse"/>
</message>
<message name="commitTransaction">
<part name="parameters" element="tns:commitTransaction"/>
</message>
<message name="commitTransactionResponse">
<part name="parameters" element="tns:commitTransactionResponse"/>
</message>
<message name="rollbackTransaction">
<part name="parameters" element="tns:rollbackTransaction"/>
</message>
<message name="rollbackTransactionResponse">
<part name="parameters" element="tns:rollbackTransactionResponse"/>
</message>
<message name="getQuoteVOByPermId">
<part name="parameters" element="tns:getQuoteVOByPermId"/>
</message>
<message name="getQuoteVOByPermIdResponse">
<part name="parameters" element="tns:getQuoteVOByPermIdResponse"/>
</message>
<message name="saveEntityVO">
<part name="parameters" element="tns:saveEntityVO"/>
</message>
<message name="saveEntityVOResponse">
<part name="parameters" element="tns:saveEntityVOResponse"/>
</message>
<portType name="HttpSessionIQMService">
<operation name="init">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/initRequest" message="tns:init"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/initResponse" message="tns:initResponse"/>
</operation>
<operation name="close">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/closeRequest" message="tns:close"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/closeResponse" message="tns:closeResponse"/>
</operation>
<operation name="getTransactionStatus">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTransactionStatusRequest" message="tns:getTransactionStatus"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTransactionStatusResponse" message="tns:getTransactionStatusResponse"/>
</operation>
<operation name="beginTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/beginTransactionRequest" message="tns:beginTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/beginTransactionResponse" message="tns:beginTransactionResponse"/>
</operation>
<operation name="commitTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/commitTransactionRequest" message="tns:commitTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/commitTransactionResponse" message="tns:commitTransactionResponse"/>
</operation>
<operation name="rollbackTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rollbackTransactionRequest" message="tns:rollbackTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rollbackTransactionResponse" message="tns:rollbackTransactionResponse"/>
</operation>
<operation name="getQuoteVOByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuoteVOByPermIdRequest" message="tns:getQuoteVOByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuoteVOByPermIdResponse" message="tns:getQuoteVOByPermIdResponse"/>
</operation>
<operation name="saveEntityVO">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/saveEntityVORequest" message="tns:saveEntityVO"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/saveEntityVOResponse" message="tns:saveEntityVOResponse"/>
</operation>
</portType>
<binding name="HttpSessionIQMServicePortBinding" type="tns:HttpSessionIQMService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="close">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="beginTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="commitTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rollbackTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuoteVOByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveEntityVO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HttpSessionIQMServiceService">
<port name="HttpSessionIQMServicePort" binding="tns:HttpSessionIQMServicePortBinding">
<soap:address location="http://localhost:7101/http-session-service/HttpSessionIQMServiceService"/>
</port>
</service>
</definitions>