http-session-service/web/WEB-INF/wsdl/localhost_7101/iqm-nm-app-model-http-session-service/HttpSessionIQMServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" name="HttpSessionIQMServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.http.concordance.iqm.model.generic.rdss.tr.com/" schemaLocation="http://localhost:7101/iqm-nm-app-model-http-session-service/HttpSessionIQMServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="initResponse">
<part name="parameters" element="tns:initResponse"/>
</message>
<message name="close">
<part name="parameters" element="tns:close"/>
</message>
<message name="closeResponse">
<part name="parameters" element="tns:closeResponse"/>
</message>
<message name="getTransactionStatus">
<part name="parameters" element="tns:getTransactionStatus"/>
</message>
<message name="getTransactionStatusResponse">
<part name="parameters" element="tns:getTransactionStatusResponse"/>
</message>
<message name="beginTransaction">
<part name="parameters" element="tns:beginTransaction"/>
</message>
<message name="beginTransactionResponse">
<part name="parameters" element="tns:beginTransactionResponse"/>
</message>
<message name="commitTransaction">
<part name="parameters" element="tns:commitTransaction"/>
</message>
<message name="commitTransactionResponse">
<part name="parameters" element="tns:commitTransactionResponse"/>
</message>
<message name="rollbackTransaction">
<part name="parameters" element="tns:rollbackTransaction"/>
</message>
<message name="rollbackTransactionResponse">
<part name="parameters" element="tns:rollbackTransactionResponse"/>
</message>
<message name="getInstrumentPermIdsByOAPermId">
<part name="parameters" element="tns:getInstrumentPermIdsByOAPermId"/>
</message>
<message name="getInstrumentPermIdsByOAPermIdResponse">
<part name="parameters" element="tns:getInstrumentPermIdsByOAPermIdResponse"/>
</message>
<message name="getHistoryAttributeOfQuoteByPermId">
<part name="parameters" element="tns:getHistoryAttributeOfQuoteByPermId"/>
</message>
<message name="getHistoryAttributeOfQuoteByPermIdResponse">
<part name="parameters" element="tns:getHistoryAttributeOfQuoteByPermIdResponse"/>
</message>
<message name="getHistoryAttributeOfInstrumentByPermId">
<part name="parameters" element="tns:getHistoryAttributeOfInstrumentByPermId"/>
</message>
<message name="getHistoryAttributeOfInstrumentByPermIdResponse">
<part name="parameters" element="tns:getHistoryAttributeOfInstrumentByPermIdResponse"/>
</message>
<message name="getMarketRDNExchangeCodeByPermId">
<part name="parameters" element="tns:getMarketRDNExchangeCodeByPermId"/>
</message>
<message name="getMarketRDNExchangeCodeByPermIdResponse">
<part name="parameters" element="tns:getMarketRDNExchangeCodeByPermIdResponse"/>
</message>
<message name="saveEntityVO">
<part name="parameters" element="tns:saveEntityVO"/>
</message>
<message name="saveEntityVOResponse">
<part name="parameters" element="tns:saveEntityVOResponse"/>
</message>
<message name="getOrgLookup">
<part name="parameters" element="tns:getOrgLookup"/>
</message>
<message name="getOrgLookupResponse">
<part name="parameters" element="tns:getOrgLookupResponse"/>
</message>
<message name="getInstrumentVOByPermId">
<part name="parameters" element="tns:getInstrumentVOByPermId"/>
</message>
<message name="getInstrumentVOByPermIdResponse">
<part name="parameters" element="tns:getInstrumentVOByPermIdResponse"/>
</message>
<message name="getQuoteVOByPermId">
<part name="parameters" element="tns:getQuoteVOByPermId"/>
</message>
<message name="getQuoteVOByPermIdResponse">
<part name="parameters" element="tns:getQuoteVOByPermIdResponse"/>
</message>
<message name="getQuotePermIdBySymbol">
<part name="parameters" element="tns:getQuotePermIdBySymbol"/>
</message>
<message name="getQuotePermIdBySymbolResponse">
<part name="parameters" element="tns:getQuotePermIdBySymbolResponse"/>
</message>
<message name="getMasterGateLookup">
<part name="parameters" element="tns:getMasterGateLookup"/>
</message>
<message name="getMasterGateLookupResponse">
<part name="parameters" element="tns:getMasterGateLookupResponse"/>
</message>
<message name="getModelMetadataProperties">
<part name="parameters" element="tns:getModelMetadataProperties"/>
</message>
<message name="getModelMetadataPropertiesResponse">
<part name="parameters" element="tns:getModelMetadataPropertiesResponse"/>
</message>
<message name="countQuotesInRDC">
<part name="parameters" element="tns:countQuotesInRDC"/>
</message>
<message name="countQuotesInRDCResponse">
<part name="parameters" element="tns:countQuotesInRDCResponse"/>
</message>
<message name="countInstrumentsInRDC">
<part name="parameters" element="tns:countInstrumentsInRDC"/>
</message>
<message name="countInstrumentsInRDCResponse">
<part name="parameters" element="tns:countInstrumentsInRDCResponse"/>
</message>
<message name="getQuotePermIdsByBaseAssetPermId">
<part name="parameters" element="tns:getQuotePermIdsByBaseAssetPermId"/>
</message>
<message name="getQuotePermIdsByBaseAssetPermIdResponse">
<part name="parameters" element="tns:getQuotePermIdsByBaseAssetPermIdResponse"/>
</message>
<message name="getModelMetadataPermIdByLevelNameValue">
<part name="parameters" element="tns:getModelMetadataPermIdByLevelNameValue"/>
</message>
<message name="getModelMetadataPermIdByLevelNameValueResponse">
<part name="parameters" element="tns:getModelMetadataPermIdByLevelNameValueResponse"/>
</message>
<message name="getMarketPermIdByRDNExchangeCode">
<part name="parameters" element="tns:getMarketPermIdByRDNExchangeCode"/>
</message>
<message name="getMarketPermIdByRDNExchangeCodeResponse">
<part name="parameters" element="tns:getMarketPermIdByRDNExchangeCodeResponse"/>
</message>
<message name="getQuotePermidByRic">
<part name="parameters" element="tns:getQuotePermidByRic"/>
</message>
<message name="getQuotePermidByRicResponse">
<part name="parameters" element="tns:getQuotePermidByRicResponse"/>
</message>
<message name="rdcCheckForCcd">
<part name="parameters" element="tns:rdcCheckForCcd"/>
</message>
<message name="rdcCheckForCcdResponse">
<part name="parameters" element="tns:rdcCheckForCcdResponse"/>
</message>
<message name="invokeDBFunction">
<part name="parameters" element="tns:invokeDBFunction"/>
</message>
<message name="invokeDBFunctionResponse">
<part name="parameters" element="tns:invokeDBFunctionResponse"/>
</message>
<message name="getCurrencyPermIdByCode">
<part name="parameters" element="tns:getCurrencyPermIdByCode"/>
</message>
<message name="getCurrencyPermIdByCodeResponse">
<part name="parameters" element="tns:getCurrencyPermIdByCodeResponse"/>
</message>
<message name="getMetadataValueByEnuPermid">
<part name="parameters" element="tns:getMetadataValueByEnuPermid"/>
</message>
<message name="getMetadataValueByEnuPermidResponse">
<part name="parameters" element="tns:getMetadataValueByEnuPermidResponse"/>
</message>
<message name="getCurrencyCodeByPermId">
<part name="parameters" element="tns:getCurrencyCodeByPermId"/>
</message>
<message name="getCurrencyCodeByPermIdResponse">
<part name="parameters" element="tns:getCurrencyCodeByPermIdResponse"/>
</message>
<message name="getTimeZoneByMarketPermId">
<part name="parameters" element="tns:getTimeZoneByMarketPermId"/>
</message>
<message name="getTimeZoneByMarketPermIdResponse">
<part name="parameters" element="tns:getTimeZoneByMarketPermIdResponse"/>
</message>
<portType name="HttpSessionIQMService">
<operation name="init">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/initRequest" message="tns:init"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/initResponse" message="tns:initResponse"/>
</operation>
<operation name="close">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/closeRequest" message="tns:close"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/closeResponse" message="tns:closeResponse"/>
</operation>
<operation name="getTransactionStatus">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTransactionStatusRequest" message="tns:getTransactionStatus"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTransactionStatusResponse" message="tns:getTransactionStatusResponse"/>
</operation>
<operation name="beginTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/beginTransactionRequest" message="tns:beginTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/beginTransactionResponse" message="tns:beginTransactionResponse"/>
</operation>
<operation name="commitTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/commitTransactionRequest" message="tns:commitTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/commitTransactionResponse" message="tns:commitTransactionResponse"/>
</operation>
<operation name="rollbackTransaction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rollbackTransactionRequest" message="tns:rollbackTransaction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rollbackTransactionResponse" message="tns:rollbackTransactionResponse"/>
</operation>
<operation name="getInstrumentPermIdsByOAPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getInstrumentPermIdsByOAPermIdRequest" message="tns:getInstrumentPermIdsByOAPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getInstrumentPermIdsByOAPermIdResponse" message="tns:getInstrumentPermIdsByOAPermIdResponse"/>
</operation>
<operation name="getHistoryAttributeOfQuoteByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getHistoryAttributeOfQuoteByPermIdRequest" message="tns:getHistoryAttributeOfQuoteByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getHistoryAttributeOfQuoteByPermIdResponse" message="tns:getHistoryAttributeOfQuoteByPermIdResponse"/>
</operation>
<operation name="getHistoryAttributeOfInstrumentByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getHistoryAttributeOfInstrumentByPermIdRequest" message="tns:getHistoryAttributeOfInstrumentByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getHistoryAttributeOfInstrumentByPermIdResponse" message="tns:getHistoryAttributeOfInstrumentByPermIdResponse"/>
</operation>
<operation name="getMarketRDNExchangeCodeByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMarketRDNExchangeCodeByPermIdRequest" message="tns:getMarketRDNExchangeCodeByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMarketRDNExchangeCodeByPermIdResponse" message="tns:getMarketRDNExchangeCodeByPermIdResponse"/>
</operation>
<operation name="saveEntityVO">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/saveEntityVORequest" message="tns:saveEntityVO"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/saveEntityVOResponse" message="tns:saveEntityVOResponse"/>
</operation>
<operation name="getOrgLookup">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getOrgLookupRequest" message="tns:getOrgLookup"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getOrgLookupResponse" message="tns:getOrgLookupResponse"/>
</operation>
<operation name="getInstrumentVOByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getInstrumentVOByPermIdRequest" message="tns:getInstrumentVOByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getInstrumentVOByPermIdResponse" message="tns:getInstrumentVOByPermIdResponse"/>
</operation>
<operation name="getQuoteVOByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuoteVOByPermIdRequest" message="tns:getQuoteVOByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuoteVOByPermIdResponse" message="tns:getQuoteVOByPermIdResponse"/>
</operation>
<operation name="getQuotePermIdBySymbol">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermIdBySymbolRequest" message="tns:getQuotePermIdBySymbol"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermIdBySymbolResponse" message="tns:getQuotePermIdBySymbolResponse"/>
</operation>
<operation name="getMasterGateLookup">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMasterGateLookupRequest" message="tns:getMasterGateLookup"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMasterGateLookupResponse" message="tns:getMasterGateLookupResponse"/>
</operation>
<operation name="getModelMetadataProperties">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getModelMetadataPropertiesRequest" message="tns:getModelMetadataProperties"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getModelMetadataPropertiesResponse" message="tns:getModelMetadataPropertiesResponse"/>
</operation>
<operation name="countQuotesInRDC">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/countQuotesInRDCRequest" message="tns:countQuotesInRDC"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/countQuotesInRDCResponse" message="tns:countQuotesInRDCResponse"/>
</operation>
<operation name="countInstrumentsInRDC">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/countInstrumentsInRDCRequest" message="tns:countInstrumentsInRDC"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/countInstrumentsInRDCResponse" message="tns:countInstrumentsInRDCResponse"/>
</operation>
<operation name="getQuotePermIdsByBaseAssetPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermIdsByBaseAssetPermIdRequest" message="tns:getQuotePermIdsByBaseAssetPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermIdsByBaseAssetPermIdResponse" message="tns:getQuotePermIdsByBaseAssetPermIdResponse"/>
</operation>
<operation name="getModelMetadataPermIdByLevelNameValue">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getModelMetadataPermIdByLevelNameValueRequest" message="tns:getModelMetadataPermIdByLevelNameValue"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getModelMetadataPermIdByLevelNameValueResponse" message="tns:getModelMetadataPermIdByLevelNameValueResponse"/>
</operation>
<operation name="getMarketPermIdByRDNExchangeCode">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMarketPermIdByRDNExchangeCodeRequest" message="tns:getMarketPermIdByRDNExchangeCode"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMarketPermIdByRDNExchangeCodeResponse" message="tns:getMarketPermIdByRDNExchangeCodeResponse"/>
</operation>
<operation name="getQuotePermidByRic">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermidByRicRequest" message="tns:getQuotePermidByRic"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getQuotePermidByRicResponse" message="tns:getQuotePermidByRicResponse"/>
</operation>
<operation name="rdcCheckForCcd">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rdcCheckForCcdRequest" message="tns:rdcCheckForCcd"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/rdcCheckForCcdResponse" message="tns:rdcCheckForCcdResponse"/>
</operation>
<operation name="invokeDBFunction">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/invokeDBFunctionRequest" message="tns:invokeDBFunction"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/invokeDBFunctionResponse" message="tns:invokeDBFunctionResponse"/>
</operation>
<operation name="getCurrencyPermIdByCode">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getCurrencyPermIdByCodeRequest" message="tns:getCurrencyPermIdByCode"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getCurrencyPermIdByCodeResponse" message="tns:getCurrencyPermIdByCodeResponse"/>
</operation>
<operation name="getMetadataValueByEnuPermid">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMetadataValueByEnuPermidRequest" message="tns:getMetadataValueByEnuPermid"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getMetadataValueByEnuPermidResponse" message="tns:getMetadataValueByEnuPermidResponse"/>
</operation>
<operation name="getCurrencyCodeByPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getCurrencyCodeByPermIdRequest" message="tns:getCurrencyCodeByPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getCurrencyCodeByPermIdResponse" message="tns:getCurrencyCodeByPermIdResponse"/>
</operation>
<operation name="getTimeZoneByMarketPermId">
<input wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTimeZoneByMarketPermIdRequest" message="tns:getTimeZoneByMarketPermId"/>
<output wsam:Action="http://session.http.concordance.iqm.model.generic.rdss.tr.com/HttpSessionIQMService/getTimeZoneByMarketPermIdResponse" message="tns:getTimeZoneByMarketPermIdResponse"/>
</operation>
</portType>
<binding name="HttpSessionIQMServicePortBinding" type="tns:HttpSessionIQMService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="close">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="beginTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="commitTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rollbackTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstrumentPermIdsByOAPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryAttributeOfQuoteByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHistoryAttributeOfInstrumentByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMarketRDNExchangeCodeByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveEntityVO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrgLookup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInstrumentVOByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuoteVOByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuotePermIdBySymbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMasterGateLookup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getModelMetadataProperties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countQuotesInRDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countInstrumentsInRDC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuotePermIdsByBaseAssetPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getModelMetadataPermIdByLevelNameValue">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMarketPermIdByRDNExchangeCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getQuotePermidByRic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rdcCheckForCcd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="invokeDBFunction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrencyPermIdByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMetadataValueByEnuPermid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrencyCodeByPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTimeZoneByMarketPermId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HttpSessionIQMServiceService">
<port name="HttpSessionIQMServicePort" binding="tns:HttpSessionIQMServicePortBinding">
<soap:address location="http://localhost:7101/iqm-nm-app-model-http-session-service/HttpSessionIQMServiceService"/>
</port>
</service>
</definitions>